<html>
<head>
  <title></title>

  <link rel="stylesheet" type="text/css"
    href="/static/style.css" title="default"/>

  <script type="text/javascript"
    src="/static/jquery-1.4.2.min.js"></script>

  <script type="text/javascript"
    src="/static/partybox.js"></script>

  <script type="text/javascript"
    src="http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>

  <script type="text/javascript">

  var ytplayer = null;
  SetupYouTubePlayer();
  DoGetPlaylist("{{playlist}}", UpdatePlaylist);

  function SetupYouTubePlayer() {
    var params = { allowScriptAccess: "always" };
    var atts = { id: "ytplayerObj" };
    swfobject.embedSWF("http://www.youtube.com/v/dn8rxxNtP7U?enablejsapi=1&playerapiid=ytplayer",
      "playback", "1280", "720", "8", null, null, params, atts);
  }

  function UpdatePlaylist(results) {
    var songBoxes = document.getElementById('songBoxes');
    songBoxes.innerHTML = '';
    if (results.length == 0) {
      songBoxes.appendChild(document.createTextNode('Playlist Empty'));
      return;
    }
    for (x in results) {
      var row = document.createElement('div');
      row.setAttribute('class', 'songBox');
      if (results[x]['thumbnail']) {
        var thumbnail = document.createElement('div');
        thumbnail.setAttribute('class', 'songThumb');
        var image = document.createElement('img');
        image.setAttribute('class', 'thumbnail');
        image.setAttribute('src', results[x]['thumbnail']);
        thumbnail.appendChild(image);
        row.appendChild(thumbnail);
      }
      row.appendChild(document.createTextNode(results[x]['title']));
      songBoxes.appendChild(row);
    }
  }

  function SetSharingUrl() {
    var link = document.createElement('a');
    var url = window.location.protocol + '//' + window.location.host +
      '/youtube?p={{playlist}}';
    link.setAttribute('href', url);
    link.setAttribute('target', '_blank');
    link.appendChild(document.createTextNode(url));
    document.getElementById('sharing_url').appendChild(link);
  }

  function onYouTubePlayerReady(playerId) {
    ytplayer = document.getElementById('ytplayerObj');
    ytplayer.addEventListener("onStateChange", "onYouTubeStateChange");
    ytplayer.addEventListener("onError", "onYouTubeError");
    PlayNextSong();
  }

  function onYouTubeStateChange(newState) {
    if (newState == 0) {
      PlayNextSong();
    }
  }

  function onYouTubeError(code) {
    // TODO(nav): Log an informative message to the console that there
    // was an error, and that we're skipping the track.
    PlayNextSong();
  }

  function SetCurrentSongTitle(title) {
    var e = document.getElementById('currSongTitle');
    if (!e)
      return;
    e.innerHTML = '';
    e.appendChild(document.createTextNode(title));
  }

  function PlayNextSong() {
    var req = new XMLHttpRequest();
    req.open('GET', '/youtube/player/next', true);
    req.onreadystatechange = function() {
      if (req.readyState == 4 && req.status == 200) {
        var response = JSON.parse(req.responseText);
        ytplayer.loadVideoByUrl(response.url);
        SetCurrentSongTitle(response.title);

        // Update the playlist.
        DoGetPlaylist("{{playlist}}", UpdatePlaylist);
      }
    }
    req.send(null);
  }

  function GetHeight() {
    // -25px for the margins / paddings
    return $(window).height() - $("#grBoxHeader").height() - 
           $("#videoPlayerHeader").height() - 20;
  }

  function GetWidth() {
    // -something for the margins / paddings
    return $(window).width() - $("#rightContent").width() - 25;
  } 
  
  function AdjustVideoSize() {
    $("#ytplayerObj").attr("height", GetHeight()); 
    $("#ytplayerObj").attr("width", GetWidth()); 
  }

  function AdjustSize() {
    var height = $(window).height() - $('#grBoxHeader').height();
    var width = $(window).width();
    $("#videoPlayerBox").css("height", GetHeight() + 35);
    $("#videoPlayerBox").css("width", GetWidth());
    $("#mainContent").css("width", width);
    $("#mainContent").css("height", height);
    $("#songBoxes").css("height", height - $("#adsense").height() - 15);
    AdjustVideoSize();  
  }

  $(document).ready(function() {
    AdjustSize();
    $(window).bind('resize', AdjustSize);
  });

  </script>
</head>

<body>
  <div id="grBox">

    <div id="grBoxHeader">
      <div id="sharing_url">
      </div>
      <script type="text/javascript">SetSharingUrl();</script>
      <div id="grBoxHeaderRight">
        Some Right Content
      </div>
    </div>

    <div id="mainContent" style="width: 1920px; height: 1011px; ">
      <div id="leftContent">
        <div id="videoPlayerBox" style="height: 994px; width: 1454px; ">
          <div id="videoPlayerHeader">
            <div id="currSongTitle">
            </div>
          </div>
          <div id="playback">
            You need Flash Player 8+ and JavaScript enabled to view this video.
          </div>
          <div>
            <button type="button" onclick="javascript:PlayNextSong()">Next</button>
          </div>
        </div>
      </div>
      <div id="rightContent">
        <div id="adsense">
        </div>
        <div id="songBoxes" style="height: 936px; ">
        </div>
      </div>
    </div>

  </div>
</body>

</html>
