<html>
<head>
  <title>PartyBox::Playlist</title>

  <link rel="stylesheet" type="text/css"
    href="/static/style.css" title="default"/>

  <link rel="stylesheet" type="text/css"
    href="/static/video.css"/>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

  <script type="text/javascript"
    src="/static/partybox.js"></script>

  <script src="https://apis.google.com/js/client.js?onload=googleApiClientReady"></script>

  <script type="text/javascript">

  window.onload = function() {
    doGetPlaylist("{{playlist}}");
    // Update the playlist every 30s. We may need to add some random time
    // here to avoid everyone making this request at the same time.
    setInterval(function() { doGetPlaylist("{{playlist}}"); },
      30000);
    document.getElementById('search-box').focus();
    document.getElementById('search-box').onfocus = function() {
      $("#vid-results").show();
    }
  }

  window.onclick = function() {
   var ev = arguments[0] || window.event,
    origEl = ev.target || ev.srcElement;
    if (origEl.id != "search-box") {
      $("#vid-results").hide();
    }
  }

  $(document).ready(function() {
    adjustSize();
    $(window).bind('resize', adjustSize);
  });
  </script>
</head>

<body>

  <div id="grBox">
    <div id="grBoxHeader">
      <div id="grBoxHeaderRight"></div>
    </div>

    <div id="mainContent">
      <div id="leftContent">
	<div id="header">
	  <span id="search-wrapper">
	    <input type="text" id="search-box" 
	      onkeyup="ytsearch('{{playlist}}', this.value)"/>
	  </span>
	</div>
	<div id="vid-results"></div>
      </div>
      <div id="rightContent">
	<div id="songBoxes">
	  <div id="playlist"></div>
	</div>
      </div>
    </div>

 </div>
</body>

</html>
