<html>
<head>
  <title>PartyBox</title>

  <link rel="stylesheet" type="text/css"
    href="/static/style.css" title="default"/>

  <link rel="stylesheet" type="text/css"
    href="/static/video.css"/>

  <script type="text/javascript"
    src="/static/jquery-1.4.2.min.js"></script>

  <script type="text/javascript"
    src="/static/partybox.js"></script>

  <script type="text/javascript"
    src="http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>

  <script type="text/javascript">

  var ytplayer = null;
  var current_url = null;
  var current_title = null;
  var current_thumbnails = null;
  SetupYouTubePlayer();
  DoGetPlaylist("{{playlist}}", UpdatePlaylist);

  function SetupYouTubePlayer() {
    var params = { allowScriptAccess: "always" };
    var atts = { id: "myytplayer" };
    swfobject.embedSWF("http://www.youtube.com/v/dn8rxxNtP7U?enablejsapi=1&playerapiid=ytplayer",
      "ytapiplayer", "425", "356", "8", null, null, params, atts);
  }

  function onYouTubePlayerReady(playerId) {
    ytplayer = document.getElementById('myytplayer');
  }

  function ClearResultsList() {
    document.getElementById('results').innerHTML = '';
  }

  function SetVideo(url, title, thumbnails) {
    // We store the url instead of getting it from the player because the one
    // returned from the player sometimes contains additional information like
    // how far in the movie to go.
    // TODO(nav): Use ytplayer.GetSwfUrl() and extract the ID. Use ID instead of URL.
    ytplayer.loadVideoByUrl(url);
    current_url = url;
    current_title = title;
    current_thumbnails = thumbnails;
  }

  function AddToPlaylist(url, title, thumbnails) {
    if (url == undefined)
      url = current_url;
    if (title == undefined)
      title = current_title;
    if (thumbnails == undefined)
      thumbnails = current_thumbnails;
    if (url == null)
      return;
    var query = 'p=' + encodeURIComponent("{{playlist}}") +
      '&url=' + encodeURIComponent(url) +
      '&title=' + encodeURIComponent(title);
    if (thumbnails.length)
      query = query + '&thumbnail=' + encodeURIComponent(thumbnails[0]);
    var req = new XMLHttpRequest();
    req.open('GET', '/youtube/add?' + query, true);
    req.onreadystatechange = function() {
      if (req.readyState == 4 && req.status == 200) {
        var response = JSON.parse(req.responseText);
        if (response.message) {
          alert(response.message);
        }
        // TODO(nav): Update the list differently, maybe using
        // a timer or the channel API.
        DoGetPlaylist("{{playlist}}", UpdatePlaylist);
      }
    }
    req.send(null);
  }

  function AppendToResultsList(title, url, thumbnails) {
    var row = document.createElement('div');
    row.appendChild(document.createElement('div')
      .appendChild(document.createTextNode(title)));
    row.onclick = function() {
      SetVideo(url, title, thumbnails);
    }
    document.getElementById('results').appendChild(row);
  }

  function UpdateSearchResults(results) { 
    ClearResultsList();
    SetVideo(results[0].url, results[0].title, results[0].thumbnails);
    for (x in results) {
      AppendToResultsList(results[x].title, results[x].url,
        results[x].thumbnails);
    }
  }

  function DoSearch() {
    var search_input = document.getElementById('search-box');
    if (!search_input)
      return;
    var query = 'q=' + encodeURIComponent(search_input.value);
    var req = new XMLHttpRequest();
    req.open('GET', '/youtube/search?' + query, true);
    req.onreadystatechange = function() {
      if (req.readyState == 4 && req.status == 200) {
        var response = JSON.parse(req.responseText);
        UpdateSearchResults(response);
      }
    }
    req.send(null);
  }

  function AppendToPlaylist(url, title, count) {
    var row = document.createElement('div');
    row.appendChild(document.createElement('div')
      .appendChild(document.createTextNode(title + "," + count)));
    row.onclick = function() {
      AddToPlaylist(url, title);
    }
    document.getElementById('playlist').appendChild(row);
  }

  function UpdatePlaylist(results) {
    var songBoxes = document.getElementById('playlist');
    songBoxes.innerHTML = '';
    for (x in results) {
      //AppendToPlaylist(results[x]['url'], results[x]['title'],
      //                 results[x]['count'])
      AddSongbox(songBoxes, results[x]['title'], results[x]['thumbnails']);
    }
  }

  function ytsearch(query) {
    var ytUrl = 'http://gdata.youtube.com/feeds/api/videos?q=' +
      encodeURIComponent(query) + '&format=5&v=2&alt=jsonc&category=Music&max_results=10';
    $.ajax({
      type: "GET",
      url: ytUrl,
      dataType: "jsonp",
      success: function (responseData, textStatus, XMLHttpRequest) {
        if (responseData.data.items) {
          displayVids(responseData.data.items);
          } else {
          // TODO: no video results
        }
      }
    });
  }

  function displayVids(vids) {
    $("#vid-results").empty();
    var vlength = Math.min(vids.length, 10);
    for (var vIdx=0; vIdx<vlength; vIdx++) {
      //var vidItem = $("<div onclick='loadVideo(\""+vids[vIdx].id+"\")' class='vid-item'>");
      var title = vids[vIdx].title;
      var vidItem = $("<div onclick='queueSong(\""+vids[vIdx].id+"\", \""+title+"\", \""+vids[vIdx].thumbnail.sqDefault+"\");$(\"#vid-results\").hide();' class='vid-item'>");
      vidItem.append($("<img class='vid-img'>").attr("src", vids[vIdx].thumbnail.sqDefault));
      vidItem.append($("<span class='vid-title'>"+vids[vIdx].title+"</span>"));
      $("#vid-results").append(vidItem);
    }
  }

  function queueSong(id, title, thumbnail) {
    var thumbnails = [];
    thumbnails.push(thumbnail);
    AddToPlaylist("http://www.youtube.com/v/" + id + "?enablejsapi=1&playerapiid=ytplayer",
        title, thumbnails);
  }

  window.onload = function() {
    document.getElementById('search-box').focus();
    document.getElementById('search-box').onfocus = function() {
      $("#vid-results").show();
    }
  }

  window.onclick = function() {
   var ev = arguments[0] || window.event,
    origEl = ev.target || ev.srcElement;
    if (origEl.id != "search-box") {
      $("#vid-results").hide();
    }
  }
  </script>
</head>

<body>

  <div id="grBox">
    <div id="grBoxHeader">
      <div id="grBoxHeaderRight"></div>
    </div>

    <div id="mainContent">
      <div id="leftContent">
	<div id="header">
	  <span id="search-wrapper">
	    <input type="text" id="search-box" 
	      onkeyup="ytsearch(this.value)"/>
	  </span>
	</div>
	<div id="vid-results"></div>
      </div>
      <div id="rightContent">
	<div id="songBoxes">
	  <div id="playlist"></div>
	</div>
      </div>
    </div>

 </div>
</body>

</html>
