<html>
<head>
  <title></title>

  <link rel="stylesheet" type="text/css"
    href="/static/style.css" title="default"/>

  <script type="text/javascript"
    src="/static/partybox.js"></script>

  <script type="text/javascript"
    src="http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>

  <script type="text/javascript">

  var ytplayer = null;
  SetupYouTubePlayer();
  DoGetPlaylist("{{playlist}}", UpdatePlaylist);

  function SetupYouTubePlayer() {
    var params = { allowScriptAccess: "always" };
    var atts = { id: "myytplayer" };
    swfobject.embedSWF("http://www.youtube.com/v/dn8rxxNtP7U?enablejsapi=1&playerapiid=ytplayer",
      "playback", "1280", "720", "8", null, null, params, atts);
  }

  function UpdatePlaylist(results) {
    var songBoxes = document.getElementById('songBoxes');
    songBoxes.innerHTML = '';
    for (x in results) {
      var row = document.createElement('div');
      row.setAttribute('class', 'songBox');
      row.appendChild(document.createTextNode(results[x]['title']));
      songBoxes.appendChild(row);
    }
  }

  function SetSharingUrl() {
    var link = document.createElement('a');
    var url = window.location.protocol + '//' + window.location.host +
      '/youtube?p={{playlist}}';
    link.setAttribute('href', url);
    link.setAttribute('target', '_blank');
    link.appendChild(document.createTextNode(url));
    document.getElementById('sharing_url').appendChild(link);
  }

  function onYouTubePlayerReady(playerId) {
    ytplayer = document.getElementById('myytplayer');
    ytplayer.addEventListener("onStateChange", "onYouTubeStateChange");
    ytplayer.addEventListener("onError", "onYouTubeError");
    PlayNextSong();
  }

  function onYouTubeStateChange(newState) {
    if (newState == 0) {
      PlayNextSong();
    }
  }

  function onYouTubeError(code) {
    // TODO(nav): Log an informative message to the console that there
    // was an error, and that we're skipping the track.
    PlayNextSong();
  }

  function PlayNextSong() {
    var req = new XMLHttpRequest();
    req.open('GET', '/youtube/player/next', true);
    req.onreadystatechange = function() {
      if (req.readyState == 4 && req.status == 200) {
        var response = JSON.parse(req.responseText);
        ytplayer.loadVideoByUrl(response.url);

        // Update the playlist.
        DoGetPlaylist("{{playlist}}", UpdatePlaylist);
      }
    }
    req.send(null);
  }

  </script>
</head>

<body>
  <div id="grBox">

    <div id="grBoxHeader">
      <div id="sharing_url">
      </div>
      <script type="text/javascript">SetSharingUrl();</script>
      <div id="grBoxHeaderRight">
        Some Right Content
      </div>
    </div>

    <div id="mainContent" style="width: 1920px; height: 1011px; ">
      <div id="leftContent">
        <div id="videoPlayerBox" style="height: 994px; width: 1454px; ">
          <div id="videoPlayerHeader">
            <div id="currSongTitle">
              Current Song Title
            </div>
          </div>
          <div id="playback">
            You need Flash Player 8+ and JavaScript enabled to view this video.
          </div>
          <div>
            <button type="button" onclick="javascript:PlayNextSong()">Next</button>
          </div>
        </div>
      </div>
      <div id="rightContent">
        <div id="songBoxes" style="height: 936px; ">
          <div class="songBox">Some Song Link</div>
          <div class="songBox">Some Other Song</div>
        </div>
      </div>
    </div>

  </div>
</body>

</html>
