<html>
<head>
  <title></title>

  <script type="text/javascript"
    src="http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>

  <script type="text/javascript">

  var ytplayer = null;
  var current_url = null;
  SetupYouTubePlayer();
  DoGetPlaylist();

  function SetupYouTubePlayer() {
    var params = { allowScriptAccess: "always" };
    var atts = { id: "myytplayer" };
    swfobject.embedSWF("http://www.youtube.com/v/dn8rxxNtP7U?enablejsapi=1&playerapiid=ytplayer",
      "ytapiplayer", "425", "356", "8", null, null, params, atts);
  }

  function onYouTubePlayerReady(playerId) {
    ytplayer = document.getElementById('myytplayer');
  }

  function ClearResultsList() {
    document.getElementById('results').innerHTML = '';
  }

  function SetVideo(url) {
    // We store the url instead of getting it from the player because the one
    // returned from the player sometimes contains additional information like
    // how far in the movie to go.
    // TODO(nav): Use ytplayer.GetSwfUrl() and extract the ID. Use ID instead of URL.
    ytplayer.loadVideoByUrl(url);
    current_url = url;
  }

  function AddToPlaylist(url) {
    if (url == undefined)
      url = current_url;
    var query = 'p=' + encodeURIComponent("{{playlist}}") + '&url=' + encodeURIComponent(url);
    var req = new XMLHttpRequest();
    req.open('GET', '/youtube/add?' + query, true);
    req.onreadystatechange = function() {
      if (req.readyState == 4 && req.status == 200) {
        DoGetPlaylist();  // TODO(nav): Update the list differently, maybe using
                          // a timer or the channel API.
      }
    }
    req.send(null);
  }

  function AppendToResultsList(title, url, thumbnails) {
    var row = document.createElement('div');
    row.appendChild(document.createElement('div')
      .appendChild(document.createTextNode(title)));
    row.onclick = function() {
      SetVideo(url);
    }
    document.getElementById('results').appendChild(row);
  }

  function UpdateSearchResults(results) { 
    ClearResultsList();
    SetVideo(results[0].url);
    for (x in results) {
      AppendToResultsList(results[x].title, results[x].url,
        results[x].thumbnails);
    }
  }

  function DoSearch() {
    var search_input = document.getElementById('search');
    if (!search_input)
      return;
    var query = 'q=' + encodeURIComponent(search_input.value);
    var req = new XMLHttpRequest();
    req.open('GET', '/youtube/search?' + query, true);
    req.onreadystatechange = function() {
      if (req.readyState == 4 && req.status == 200) {
        var response = JSON.parse(req.responseText);
        UpdateSearchResults(response);
      }
    }
    req.send(null);
  }

  function ClearPlaylist() {
    document.getElementById('playlist').innerHTML = '';
  }

  function AppendToPlaylist(name, count) {
    var row = document.createElement('div');
    row.appendChild(document.createElement('div')
      .appendChild(document.createTextNode(name + "," + count)));
    row.onclick = function() {
      AddToPlaylist(name);
    }
    document.getElementById('playlist').appendChild(row);
  }

  function UpdatePlaylist(results) {
    ClearPlaylist();
    for (x in results) {
      AppendToPlaylist(results[x][0], results[x][1]);
    }
  }

  function DoGetPlaylist() {
    var req = new XMLHttpRequest();
    var query = 'p=' + encodeURIComponent("{{playlist}}");
    req.open('GET', '/youtube/playlist?' + query, true);
    req.onreadystatechange = function() {
      if (req.readyState == 4 && req.status == 200) {
        var response = JSON.parse(req.responseText);
        UpdatePlaylist(response);
      }
    }
    req.send(null);
  }
  </script>
</head>

<body>

<h3>Playlist</h3>
<div id="playlist"></div>

<h3>Search</h3>
<div id="ytapiplayer">
  You need Flash Player 8+ and JavaScript enabled to view this video.
</div>

<button type="button" onClick="javascript:AddToPlaylist()">Add To Playlist</button>

<div>
  <input type="text" id="search" size="100" onkeydown="if (event.keyCode == 13) DoSearch()"/>
  <button type="button" onClick="javascript:DoSearch()">Search</button>
</div>

<div id="results"></div>

</body>

</html>
