<html>
<head>
  <title>PartyBox::Player</title>

  <link rel="stylesheet" type="text/css"
    href="/static/style.css" title="default"/>

  <link rel="stylesheet" type="text/css"
    href="/static/video.css"/>

  <script type="text/javascript"
    src="/static/jquery-1.4.2.min.js"></script>

  <script type="text/javascript"
    src="/static/partybox.js"></script>

  <script type="text/javascript"
    src="http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>

  <script type="text/javascript">

  var ytplayer = null;

  function getVideoUrl(id) {
    return "http://www.youtube.com/v/" + id + "?enablejsapi=1" +
      "&playerapiid=ytplayer";
  }

  function setupYouTubePlayer(id) {
    var params = { allowScriptAccess: "always", wmode: "transparent" };
    var atts = { id: "ytplayerObj" };
    swfobject.embedSWF(getVideoUrl(id), "playback", getWidth(),
      getHeight(), "8", null, null, params, atts);
  }

  function setSharingUrl() {
    var url = window.location.protocol + '//' + window.location.host +
      '/playlist?p={{playlist}}';

    var img = document.createElement('img');
    img.setAttribute('src', getQRCode(url));
    img.setAttribute('class', 'qrcodeImg');
    var imgLink = document.createElement('a');
    imgLink.setAttribute('href', url);
    imgLink.setAttribute('target', '_blank');
    imgLink.appendChild(img);
    document.getElementById('sharing').appendChild(imgLink);

    var link = document.createElement('a');
    link.setAttribute('href', url);
    link.setAttribute('target', '_blank');
    link.appendChild(document.createTextNode(url));
    document.getElementById('sharing').appendChild(link);
  }

  function onYouTubePlayerReady(playerId) {
    ytplayer = document.getElementById('ytplayerObj');
    ytplayer.playVideo();
    ytplayer.addEventListener("onStateChange", "onYouTubeStateChange");
    ytplayer.addEventListener("onError", "onYouTubeError");
  }

  function onYouTubeStateChange(newState) {
    if (newState == 0) {
      playNextSong();
    }
  }

  function onYouTubeError(code) {
    // TODO(nav): Log an informative message to the console that there
    // was an error, and that we're skipping the track.
    playNextSong();
  }

  function setCurrentSongTitle(title) {
    var e = document.getElementById('currSongTitle');
    if (!e)
      return;
    e.innerHTML = '';
    e.appendChild(document.createTextNode(title));
  }

  function playNextSong() {
    var req = new XMLHttpRequest();
    req.open('GET', '/youtube/player/next', true);
    req.onreadystatechange = function() {
      if (req.readyState == 4 && req.status == 200) {
        var response = JSON.parse(req.responseText);
        if (ytplayer == null) {
          setupYouTubePlayer(response.id);
        } else {
          ytplayer.loadVideoByUrl(getVideoUrl(response.id));
        }

        setCurrentSongTitle(response.title);

        var nowPlaying = document.getElementById('nowPlaying');
        nowPlaying.innerHTML = '';
        addSongbox("{{playlist}}", nowPlaying, response);
        nowPlaying.children[0].setAttribute('class', 'songBox nowPlaying');

        // Update the playlist.
        doGetPlaylist("{{playlist}}");
      }
    }
    req.send(null);
  }

  $(document).ready(function() {
    adjustSize();
    $(window).bind('resize', adjustSize);
    playNextSong();
    setSharingUrl();
  });

  window.onload = function() {
    doGetPlaylist("{{playlist}}");
    document.getElementById('search-box').focus();
    document.getElementById('search-box').onfocus = function() {
      $("#vid-results").show();
    }
  }

  window.onclick = function() {
   var ev = arguments[0] || window.event,
    origEl = ev.target || ev.srcElement;
    if (origEl.id != "search-box") {
      $("#vid-results").hide();
    }
  }
  </script>
</head>

<body>
  <div id="grBox">

    <div id="grBoxHeader">
      <div id="grBoxHeaderRight"></div>
    </div>

    <div id="mainContent">
      <div id="leftContent">
        <div id="videoPlayerBox">
          <div id="videoPlayerHeader">
	    <div id="header">
	      <span id="search-wrapper">
		<input type="text" id="search-box" 
		  onkeyup="ytsearch('{{playlist}}', this.value)"/>
	      </span>
	    </div>
	    <div id="vid-results"></div>
            <div id="currSongTitle">
            </div>
            <div id="qualitySelector">
              <button type="button" onclick="javascript:playNextSong()">Next</button>
            </div>
          </div>
          <div id="playback">
            You need Flash Player 8+ and JavaScript enabled to view this video.
          </div>
        </div>
      </div>
      <div id="rightContent">
        <div>
          <div id="sharing"></div>
        </div>
        <div id="adsense"></div>
        <div id="songBoxes">
          <div id="nowPlaying"></div>
          <div id="playlist"></div>
        </div>
      </div>
    </div>

  </div>
</body>

</html>
