<html>
<head>
  <title>PartyBox::Playlist</title>

  <meta name="viewport" content="user-scalable=no" />

  <link rel="stylesheet" type="text/css"
    href="/static/style.css" title="default"/>

  <link rel="stylesheet" type="text/css"
    href="/static/video.css"/>

  <script type="text/javascript"
    src="/static/jquery-1.4.2.min.js"></script>

  <script type="text/javascript"
    src="/static/partybox.js"></script>

  <script type="text/javascript"
    src="http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>

  <script type="text/javascript">

  window.onload = function() {
    doGetPlaylist("{{playlist}}");
    document.getElementById('searchButton').onclick = function() {
      ytsearch('{{playlist}}', document.getElementById('search-box').value);
      $("#vid-results").show();
      document.getElementById('closeButton').style.visibility = 'visible';
    }
    document.getElementById('closeButton').onclick = function() {
      $("#vid-results").hide();
      this.style.visibility = 'hidden';
    }
  }

  $(document).ready(function() {
    adjustSize();
    $(window).bind('resize', adjustSize);
  });
  </script>
</head>

<body>
  <div id="header">
    <span id="search-wrapper">
      <input type="text" id="search-box"
	onkeydown="if (event.keyCode == 13) document.getElementById('searchButton').click();"/>
    </span>
    <button id="searchButton" type="button">Search</button>
    <button id="closeButton" type="button"
      style="visibility: hidden">Close</button>
  </div>
  <div id="vid-results"></div>
  <div id="songBoxes">
    <div id="playlist"></div>
  </div>
</body>

</html>
