<html>
<head>
  <title>PartyBox::Playlist</title>

  <link rel="stylesheet" type="text/css"
    href="/static/style.css" title="default"/>

  <link rel="stylesheet" type="text/css"
    href="/static/video.css"/>

  <script type="text/javascript"
    src="/static/jquery-1.4.2.min.js"></script>

  <script type="text/javascript"
    src="/static/partybox.js"></script>

  <script type="text/javascript"
    src="http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>

  <script type="text/javascript">

  function ytsearch(query) {
    var ytUrl = 'http://gdata.youtube.com/feeds/api/videos?q=' +
      encodeURIComponent(query) + '&format=5&v=2&alt=jsonc&category=Music&max_results=10' +
      '&orderBy=relevance';
    $.ajax({
      type: "GET",
      url: ytUrl,
      dataType: "jsonp",
      success: function (responseData, textStatus, XMLHttpRequest) {
        if (responseData.data.items) {
          displayVids(responseData.data.items);
          } else {
          // TODO: no video results
        }
      }
    });
  }

  function displayVids(vids) {
    $("#vid-results").empty();
    var vlength = Math.min(vids.length, 10);
    for (var vIdx=0; vIdx<vlength; vIdx++) {
      //var vidItem = $("<div onclick='loadVideo(\""+vids[vIdx].id+"\")' class='vid-item'>");
      var title = vids[vIdx].title;
      title = escape(title);
      var vidItem = $("<div onclick='queueSong(\""+vids[vIdx].id+"\", \""+title+"\", \""+vids[vIdx].thumbnail.sqDefault+"\");$(\"#vid-results\").hide();' class='vid-item'>");
      vidItem.append($("<img class='vid-img'>").attr("src", vids[vIdx].thumbnail.sqDefault));
      vidItem.append($("<span class='vid-title'>"+vids[vIdx].title+"</span>"));
      $("#vid-results").append(vidItem);
    }
  }

  function queueSong(id, title, thumbnail) {
    var thumbnails = [];
    thumbnails.push(thumbnail);
    AddToPlaylist("{{playlist}}", "http://www.youtube.com/v/" + id + "?enablejsapi=1&playerapiid=ytplayer",
        unescape(title), thumbnails);
  }

  window.onload = function() {
    doGetPlaylist("{{playlist}}", updatePlaylist);
    document.getElementById('search-box').focus();
    document.getElementById('search-box').onfocus = function() {
      $("#vid-results").show();
    }
  }

  window.onclick = function() {
   var ev = arguments[0] || window.event,
    origEl = ev.target || ev.srcElement;
    if (origEl.id != "search-box") {
      $("#vid-results").hide();
    }
  }

  $(document).ready(function() {
    adjustSize();
    $(window).bind('resize', adjustSize);
  });
  </script>
</head>

<body>

  <div id="grBox">
    <div id="grBoxHeader">
      <div id="grBoxHeaderRight"></div>
    </div>

    <div id="mainContent">
      <div id="leftContent">
	<div id="header">
	  <span id="search-wrapper">
	    <input type="text" id="search-box" 
	      onkeyup="ytsearch(this.value)"/>
	  </span>
	</div>
	<div id="vid-results"></div>
      </div>
      <div id="rightContent">
	<div id="songBoxes">
	  <div id="playlist"></div>
	</div>
      </div>
    </div>

 </div>
</body>

</html>
